@use 'sass:math';
@import './libs/reset';
@import './libs/variables';
@import './libs/mixins';
@import './libs/mixins.typography';
@import './libs/typography';
@import './libs/font-awesome/css/font-awesome.min.css';


html, body {
  scroll-behavior: smooth;
}

.replaceBodyClass {
  .btn-link {
    @include btn-default();
    @include typography-btn();
    user-select: none;
    &.btn--outline {
      @include btn--outline();
      &.light {
        color: #fff;
        border-color: #fff;
      }
    }
  }
  .mt-s {
    margin-top: 10px !important;
    @media screen and (max-width: ($laptop-max-width)) {
      margin-top: return-desktop-size-by-vw(10) !important;
    }
    @media screen and (max-width: ($tablet-max-width)) {
      margin-top: return-tablet-size-by-vw(10) !important;
    }
  }
  .mt-m {
    margin-top: 20px !important;
    @media screen and (max-width: ($laptop-max-width)) {
      margin-top: return-desktop-size-by-vw(20) !important;
    }
    @media screen and (max-width: ($tablet-max-width)) {
      margin-top: return-tablet-size-by-vw(20) !important;
    }
  }
  .mt-l {
    margin-top: 30px !important;
    @media screen and (max-width: ($laptop-max-width)) {
      margin-top: return-desktop-size-by-vw(30) !important;
    }
    @media screen and (max-width: ($tablet-max-width)) {
      margin-top: return-tablet-size-by-vw(28) !important;
    }
  }
  color: $color-base;
  .lazy-img:not(.loading).lazy-img:not(.loaded) {
    visibility: hidden;
  }

  section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
  }
  .content-block {
    width: 100%;
    height: 100%;
  }
  .wording-area {
    width: 702px;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: ($laptop-max-width)) {
      width: return-desktop-size-by-vw(702);
    }
    @media screen and (max-width: ($tablet-max-width)) {
      width: return-tablet-full-wide();
      text-align: left;
    }
  }
  picture {
    display: flex;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .image-block {
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .section-kv {
    height: 700px;
    padding: 0;
    overflow: hidden;
    @media screen and (max-width: ($laptop-max-width)) {
      height: return-desktop-size-by-vw(700);
    }
    @media screen and (max-width: ($tablet-max-width)) {
      height: return-tablet-size-by-vw(667);
    }
    .wording-area {
      color: #fff;
      position: absolute;
      left: 50%;
      bottom: 80px;
      transform: translateX(-50%);
      z-index: 2;
      @media screen and (max-width: ($laptop-max-width)) {
        bottom: return-desktop-size-by-vw(80);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        bottom: return-tablet-size-by-vw(60);
        text-align: center;
        width: return-tablet-full-wide();
      }
      .btn-area {
        display: flex;
        justify-content: center;
        gap: 20px;
        @media screen and (max-width: ($laptop-max-width)) {
          gap: return-desktop-size-by-vw(20);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          gap: return-tablet-size-by-vw(10);
          flex-direction: column;
          align-items: center;
        }
      }
    }
    .bg-block {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 100%;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 61.73%, #000 111.71%, rgba(0, 0, 0, 0.50) 111.71%);
        top: 0;
        left: 0;
      }
      img {
        width: auto;
      }
    }
  }

  .section-product-size-carousel {
    background-color: #F5F5F5;
    .product-size-content {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 115px;
      @media screen and (max-width: ($laptop-max-width)) {
        width: return-desktop-size-by-vw(1200);
        padding-top: return-desktop-size-by-vw(80);
        padding-bottom: return-desktop-size-by-vw(115);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: return-tablet-size-by-vw(60);
      }
      .product-size-carousel {
        user-select: none;
        position: relative;
        width: 550px;
        display: block !important;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(550);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          width: 100%;
        }
        &.owl-loaded {
          opacity: 1;
          visibility: visible;
        }
        .color-url-list {
          display: none;
        }
        .image-block {
          width: 550px;
          height: 550px;
          @media screen and (max-width: ($laptop-max-width)) {
            width: return-desktop-size-by-vw(550);
            height: return-desktop-size-by-vw(550);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: 100vw;
            height: return-tablet-size-by-vw(375);
          }
        }
        .owl-nav {
          position: absolute;
          width: 100%;
          left: 50%;
          transform: translate(-50%, 100%);
          bottom: -6px;
          display: flex;
          justify-content: space-between;
          font-size: 28px;
          color: #ababab;
          @media screen and (max-width: ($tablet-max-width)) {
            bottom: -16px;
          }
        }
        .owl-dots {
          position: absolute;
          left: 50%;
          bottom: -20px;
          transform: translate(-50%, 100%);
          width: auto;
          display: inline-flex;
          gap: 10px;
          @media screen and (max-width: ($tablet-max-width)) {
            bottom: -30px;
          }
          .owl-dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #D9D9D9;
            &.active {
              background-color: #ABABAB;
            }
          }
        }
      }
      .product-size-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 120px;
        @media screen and (max-width: ($laptop-max-width)) {
          padding-left: return-desktop-size-by-vw(120);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          padding-left: 0;
          padding-top: return-tablet-size-by-vw(40);
          margin-top: 50px;
          width: return-tablet-full-wide();
        }
        .text-describe {
          margin-top: 30px;
          @media screen and (max-width: ($laptop-max-width)) {
            margin-top: return-desktop-size-by-vw(30);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            margin-top: return-tablet-size-by-vw(10);
          }
        }
        .select-content {
          display: flex;
          flex-wrap: wrap;
          border: 1px solid #BFBFBF;
          border-width: 1px 0;
          padding: 30px 0;
          @media screen and (max-width: ($laptop-max-width)) {
            padding: return-desktop-size-by-vw(30) 0;
          }
          @media screen and (max-width: ($tablet-max-width)) {
            padding: return-tablet-size-by-vw(30) 0;
          }
          .select-list {
            width: 100%;
            .select-name {
              padding-bottom: 15px;
              @media screen and (max-width: ($laptop-max-width)) {
                padding-bottom: return-desktop-size-by-vw(15);
              }
              @media screen and (max-width: ($tablet-max-width)) {
                padding-bottom: return-tablet-size-by-vw(10);
              }
            }
          }
        }
        .product-size {
          display: flex;
          flex-wrap: wrap;
          gap: 13px;
          @media screen and (max-width: ($tablet-max-width)) {
            gap: return-tablet-size-by-vw(15);
            flex-direction: column;
          }
          .size-item {
            @include typography-btn();
            user-select: none;
            cursor: pointer;
            padding: 7px 50px;
            border-radius: 50px;
            border: 1px solid #333;
            white-space: nowrap;
            @media screen and (max-width: ($tablet-max-width)) {
              width: 100%;
              text-align: center;
            }
            &.active {
              background-color: #333;
              color: #fff;
            }
          }
        }
        .product-color {
          display: flex;
          gap: 13px;
          .color-item {
            cursor: pointer;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background-color: #999;
            border: 1px solid#A0A0A0;
            font-size: 0 !important;
            color: transparent;
            &.active {
              border-color: #333;
            }
          }
        }
        .btn-area {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          @media screen and (max-width: ($laptop-max-width)) {
            gap: return-desktop-size-by-vw(20);
          }
        }
      }
    }
    .carousel-list {
      display: none;
    }
  }

  .sub-header {
    width: 100%;
    height: 50px;
    background-color: #575757;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
    .content-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 120px;
      @media screen and (max-width: ($laptop-max-width)) {
        padding: 0 return-desktop-size-by-vw(120);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        padding: 0;
      }
    }
    .sub-h-name {
      color: #fff;
      display: block;
      text-decoration: none;
      @media screen and (max-width: ($tablet-max-width)) {
        display: none;
      }
    }
    .sub-h-list {
      display: flex;
      gap: 0;
      height: 100%;
      @media screen and (max-width: ($tablet-max-width)) {
        width: 100%;
        justify-content: center;
        gap: 28px;
      }
      .sub-h-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #fff;
        text-decoration: none;
        width: 70px;
        @media screen and (max-width: ($tablet-max-width)) {
          width: 80px;
        }
        &.active,
        &:hover {
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: #EB1D23;
          }
        }
      }
    }
  }
  
  .section-video-and-yt {
    overflow: hidden;
    .image-block {
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 510px;
      overflow: hidden;
      @media screen and (max-width: ($laptop-max-width)) {
        height: return-desktop-size-by-vw(510);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        width: 100%;
        height: return-tablet-size-by-vw(375);
      }
      video {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;

      }
    }
    .box-video {
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      .wrap-txt-cent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    
        .play-modal-video-btn{
          width: 0px;
          height: 0px;
          overflow: hidden;
          padding: 0;
          padding-top: 50px;
    
          &::before {
            cursor: pointer;
            color: #ffffff;
            content: "\f04b";
            font-family: FontAwesome;
            position: absolute;
            width: 65px;
            height: 65px;
            font-size: 26px;
            top: 0;
            font-weight: 900;
            background: rgba(255, 255, 255, .4);
            border-radius: 50%;
            text-align: center;
            transform: translateX(-50%);
            line-height: 65px;
    
            @media screen and (max-width: ($laptop-max-width)) {
              width: 60px;
              height: 60px;
              font-size: 1.625em;
              line-height: 60px;
            }
            @media screen and (max-width: ($tablet-max-width)) {
              width: 100px;
              height: 100px;
              font-size: 40px; 
              line-height: 98px;
            }
          }
  
          &__dark {
              &::before {
              color: #111820;
              border-color: #111820;
            }
          }
    
        }
      }
    }
  }

  .section-feature-list {
    background-color: #f5f5f5;
    padding: 100px 0 115px;
    @media screen and (max-width: ($laptop-max-width)) {
      padding: return-desktop-size-by-vw(100) 0 return-desktop-size-by-vw(115);
    }
    @media screen and (max-width: ($tablet-max-width)) {
      padding: return-tablet-size-by-vw(50) 0 return-tablet-size-by-vw(60);
    }
    .wording-area {
      text-align: center;
      width: 800px;
      @media screen and (max-width: ($laptop-max-width)) {
        width: return-desktop-size-by-vw(800);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        width: return-tablet-full-wide();
      }
      .feature-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px 100px;
        @media screen and (max-width: ($laptop-max-width)) {
          gap: return-desktop-size-by-vw(15) return-desktop-size-by-vw(100);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          gap: return-tablet-size-by-vw(15);
          grid-template-columns: repeat(2, 1fr);
        }
        .feature-item {
          width: 200px;
          padding-top: 51px;
          @media screen and (max-width: ($laptop-max-width)) {
            width: return-desktop-size-by-vw(200);
            padding-top: return-desktop-size-by-vw(51);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: return-tablet-size-by-vw(160);
            padding-top: return-tablet-size-by-vw(27);
          }
          .h3 {
            line-height: 130%;
          }
          .image-block {
            margin: 0 auto;
            width: 64px;
            height: 64px;
            @media screen and (max-width: ($laptop-max-width)) {
              width: return-desktop-size-by-vw(64);
              height: return-desktop-size-by-vw(64);
            }
            @media screen and (max-width: ($tablet-max-width)) {
              width: return-tablet-size-by-vw(51);
              height: return-tablet-size-by-vw(51);
            }
            img {
              width: 100%;
              height: 100%;
              display: block;
            }
          }
        }
      }
    }
  }

  .section-feature-carousel {
    overflow: hidden;
    background-color: #fff;
    height: 700px;
    @media screen and (max-width: ($laptop-max-width)) {
      height: return-desktop-size-by-vw(700);
    }
    @media screen and (max-width: ($tablet-max-width)) {
      height: return-tablet-size-by-vw(600);
    }
    .feature-carousel-list {
      position: absolute;
      z-index: 2;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      justify-items:center;
      width: 1440px;
      gap: 20px 30px;
      padding: 0 120px;
      @media screen and (max-width: ($laptop-max-width)) {
        width: return-desktop-size-by-vw(1440);
        top: return-desktop-size-by-vw(40);
        gap: return-desktop-size-by-vw(20) return-desktop-size-by-vw(30);
        padding: 0 return-desktop-size-by-vw(120);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        width: 100%;
        top: return-tablet-size-by-vw(30);
        gap: return-tablet-size-by-vw(5) return-tablet-size-by-vw(8);
        padding: 0 return-tablet-size-by-vw(20);
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      }
      .feature-carousel-item {
        @include typography-btn();
        cursor: pointer;
        user-select: none;
        padding: 6px;
        width: 220px;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.8);
        @media screen and (max-width: ($tablet-max-width)) {
          width: 165px;
          padding: 10px;
          font-size: 14px;
          font-weight: 700;
        }
        &.active {
          border: 1px solid #8E8E8E;
          background: #000;
          color: #ffffff;
        }
      }
    }
    .feature-carousel {
      max-width: 1920px;
      margin: 0 auto;
      .image-block {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
          top: 0;
          left: 0;
        }
        picture {
          justify-content: center;
        }
        img {
          width: auto;
          height: 700px;
          @media screen and (max-width: ($laptop-max-width)) {
            height: return-desktop-size-by-vw(700);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: 100%;
            height: return-tablet-size-by-vw(600);
          }
        }
      }
      .owl-item.active {
        z-index: 2;
      }
      .owl-nav {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1440px;
        padding: 0 120px;
        color: transparent;
        display: flex;
        justify-content: space-between;
        font-size: 31px;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(1440);
          padding: 0 return-desktop-size-by-vw(120);
        }
        .owl-prev, .owl-next {
          width: 20px;
          height: 22px;
        }
        .owl-prev {
          background: url(../../media/images/arrow-l.svg) no-repeat center center;
        }
        .owl-next {
          background: url(../../media/images/arrow-r.svg) no-repeat center center;
        }
      }
    }
  }

  .section-product-info {
    padding-top: 100px;
    padding-bottom: 94px;
    @media screen and (max-width: ($laptop-max-width)) {
      padding-top: return-desktop-size-by-vw(100);
      padding-bottom: return-desktop-size-by-vw(94);
    }
    @media screen and (max-width: ($tablet-max-width)) {
      padding-top: return-tablet-size-by-vw(50);
      padding-bottom: return-tablet-size-by-vw(50);
    }
    .info-top {
      margin: 0 auto;
      text-align: center;
      width: 1200px;
      @media screen and (max-width: ($laptop-max-width)) {
        width: return-desktop-size-by-vw(1200);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        width: return-tablet-full-wide();
      }
      .image-block {
        margin-top: 60px;
        width: 100%;
        height: 600px;
        @media screen and (max-width: ($laptop-max-width)) {
          margin-top: return-desktop-size-by-vw(60);
          height: return-desktop-size-by-vw(600);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          margin-top: return-tablet-size-by-vw(30);
          height: return-tablet-size-by-vw(335);
        }
      }
      .wording-area {
        margin-top: 30px;
        @media screen and (max-width: ($laptop-max-width)) {
          margin-top: return-desktop-size-by-vw(30);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          text-align: center;
          width: 100%;
          margin-top: return-tablet-size-by-vw(20);
        }
        .info-text {
          margin-top: 20px;
          @media screen and (max-width: ($laptop-max-width)) {
            margin-top: return-desktop-size-by-vw(20);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            margin-top: return-tablet-size-by-vw(10);
          }
        }
      }
    }
    .info-column-list {
      display: flex;
      flex-direction: column;
      gap: 60px;
      margin-top: 60px;
      padding: 0 120px;
      @media screen and (max-width: ($laptop-max-width)) {
        gap: return-desktop-size-by-vw(60);
        margin-top: return-desktop-size-by-vw(60);
        padding: 0 return-desktop-size-by-vw(120);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        gap: return-tablet-size-by-vw(5);
        margin-top: return-tablet-size-by-vw(40);
        padding: 0;
      }
      .info-card {
        width: 100%;
        display: flex;
        background-color: #F5F5F5;
        @media screen and (max-width: ($tablet-max-width)) {
          padding: return-tablet-size-by-vw(20);
          flex-direction: column;
        }
        &--reverse {
          flex-direction: row-reverse;
          @media screen and (max-width: ($tablet-max-width)) {
            flex-direction: column;
          }
        }
        .image-block {
          flex: 0 0 auto;
          width: 640px;
          height: 360px;
          @media screen and (max-width: ($laptop-max-width)) {
            width: return-desktop-size-by-vw(640);
            height: return-desktop-size-by-vw(360);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: 100%;
            height: return-tablet-size-by-vw(335);
          }
        }
        .wording-area {
          width: auto;
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 65px;
          text-align: left;
          @media screen and (max-width: ($laptop-max-width)) {
            padding: return-desktop-size-by-vw(65);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: 100%;
            padding: return-tablet-size-by-vw(20) return-tablet-size-by-vw(5) 0;
          }
          .info-text {
            margin-top: 20px;
            @media screen and (max-width: ($laptop-max-width)) {
              margin-top: return-desktop-size-by-vw(20);
            }
          }
        }
      }
    }
    .card-list {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 45px;
      padding: 0 120px;
      @media screen and (max-width: ($laptop-max-width)) {
        margin-top: return-desktop-size-by-vw(60);
        gap: return-desktop-size-by-vw(45);
        padding: 0 return-desktop-size-by-vw(120);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        margin-top: return-tablet-size-by-vw(40);
        grid-template-columns: repeat(1, 1fr);
        gap: return-tablet-size-by-vw(40);
        padding: 0 return-tablet-size-by-vw(20);
      }
      .card-item {
        width: 370px;
        width: fit-content;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(370);
          width: fit-content;
        }
        @media screen and (max-width: ($tablet-max-width)) {
          width: 100%;
        }
        .image-block {
          width: 100%;
          height: 250px;
          @media screen and (max-width: ($laptop-max-width)) {
            height: return-desktop-size-by-vw(250);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            height: return-tablet-size-by-vw(200);
          }
        }
        .card-text {
          margin-top: 20px;
          @media screen and (max-width: ($laptop-max-width)) {
            margin-top: return-desktop-size-by-vw(20);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            margin-top: return-tablet-size-by-vw(20);
          }
        }
      }
    }
  }

  .section-application {
    background: #F5F5F5;
    padding-top: 120px;
    padding-bottom: 100px;
    @media screen and (max-width: ($laptop-max-width)) {
      padding-top: return-desktop-size-by-vw(120);
      padding-bottom: return-desktop-size-by-vw(100);
    }
    @media screen and (max-width: ($tablet-max-width)) {
      padding-top: return-tablet-size-by-vw(50);
      padding-bottom: return-tablet-size-by-vw(50);
    }
    .wording-area {
      @media screen and (max-width: ($tablet-max-width)) {
        text-align: center;
        width: return-tablet-full-wide();
      }
    }
    .application-carousel {
      position: relative;
      margin: 0 auto;
      width: 1200px;
      margin-top: 30px;
      @media screen and (max-width: ($laptop-max-width)) {
        width: return-desktop-size-by-vw(1200);
        margin-top: return-desktop-size-by-vw(30);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        width: 100%;
        margin-top: return-tablet-size-by-vw(30);
      }
      .application-carousel-item {
        width: 760px;
        height: 420px;
        padding: 0 5px;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(760);
          height: return-desktop-size-by-vw(420);
          padding: 0 return-desktop-size-by-vw(5);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          width: return-tablet-size-by-vw(295);
          height: return-tablet-size-by-vw(285);
          padding: 0 return-tablet-size-by-vw(5);
        }
        .image-block {
          width: 100%;
          height: 100%;
        }
      }
      .owl-stage {
        left: 220px;
        @media screen and (max-width: ($laptop-max-width)) {
          left: return-desktop-size-by-vw(220);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          left: return-tablet-size-by-vw(40);
        }
      }
      .owl-nav {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        button {
          position: absolute;
          top: 0;
          width: 215px;
          height: 420px;
          color: #ABABAB;
          font-size: 31px;
          display: flex;
          align-items: center;
          padding: 0 30px !important;
          @media screen and (max-width: ($laptop-max-width)) {
            width: return-desktop-size-by-vw(215);
            height: return-desktop-size-by-vw(420);
            padding: 0 return-desktop-size-by-vw(30) !important;
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: return-tablet-size-by-vw(35);
            height: return-tablet-size-by-vw(285);
            padding: 0 return-tablet-size-by-vw(10) !important;
          }
          &.owl-prev {
            left: 0;
            justify-content: flex-start;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
          }
          &.owl-next {
            right: 0;
            justify-content: flex-end;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
          }
        }
      }
      .owl-dots {
        position: relative;
        width: auto;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        @media screen and (max-width: ($laptop-max-width)) {
          margin-top: return-desktop-size-by-vw(20);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          margin-top: return-tablet-size-by-vw(15);
        }
        .owl-dot {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #D9D9D9;
          &.active {
            background-color: #ABABAB;
          }
        }
      }
    }
    .image-area {
      display: flex;
      flex-direction: column;
      margin: 0 auto; 
      width: 1200px;
      gap: 10px;
      margin-top: 63px;
      @media screen and (max-width: ($laptop-max-width)) {
        gap: return-desktop-size-by-vw(10);
        width: return-desktop-size-by-vw(1200);
        margin-top: return-desktop-size-by-vw(63);
      }
      .top-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .top-right-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 595px;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(595);
        }
      }
      .image-block {
        &--top-left {
          width: 595px;
          height: 867px;
          @media screen and (max-width: ($laptop-max-width)) {
            width: return-desktop-size-by-vw(595);
            height: return-desktop-size-by-vw(867);
          }
        }
        &--right-top,
        &--right-bottom {
          width: 100%;
          height: 428px;
          @media screen and (max-width: ($laptop-max-width)) {
            height: return-desktop-size-by-vw(428);
          }
        }
        &--bottom {
          width: 100%;
          height: 440px;
          @media screen and (max-width: ($laptop-max-width)) {
            height: return-desktop-size-by-vw(440);
          }
        }
      }
    }
  }

  .section-spec {
    background-color: #141122;
    color: #fff;
    padding: 87px 0 91px;
    @media screen and (max-width: ($laptop-max-width)) {
      padding: return-desktop-size-by-vw(87) 0 return-desktop-size-by-vw(91);
    }
    @media screen and (max-width: ($tablet-max-width)) {
      padding: return-tablet-size-by-vw(50) 0 return-tablet-size-by-vw(60);
    }
    .spec-title {
      text-align: center;
    }
    .spec-list {
      width: 1200px;
      padding-top: 120px;
      margin: 0 auto;
      gap: 100px 120px;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: ($laptop-max-width)) {
        width: return-desktop-size-by-vw(1200);
        padding-top: return-desktop-size-by-vw(120);
        gap: return-desktop-size-by-vw(100) return-desktop-size-by-vw(120);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        width: return-tablet-full-wide();
        padding-top: return-tablet-size-by-vw(40);
        gap: return-tablet-size-by-vw(40);
      }
      .spec-item {
        width: 320px;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(320);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          width: 100%
        }
        a {
          color: #fff;
        }
        .spec-name {
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
            margin: 20px 0;
            @media screen and (max-width: ($laptop-max-width)) {
              margin: return-desktop-size-by-vw(20) 0;
            }
            @media screen and (max-width: ($tablet-max-width)) {
              margin: return-tablet-size-by-vw(10) 0;
            }
          }
        }
      }
    }
  }

  .section-bottom-kv {
    background-color: #f5f5f5;
    .content-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 120px;
      @media screen and (max-width: ($laptop-max-width)) {
        padding: return-desktop-size-by-vw(120);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        flex-direction: column;
        padding: return-tablet-size-by-vw(50) 0;
      }
      .image-block {
        width: 640px;
        height: 360px;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(640);
          height: return-desktop-size-by-vw(360);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          width: return-tablet-size-by-vw(335);
          height: return-tablet-size-by-vw(335);
        }
      }
      .wording-area {
        width: 470px;
        text-align: left;
        margin: 0;
        @media screen and (max-width: ($laptop-max-width)) {
          width: return-desktop-size-by-vw(470);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          width: return-tablet-full-wide();
          margin-top: return-tablet-size-by-vw(40);
        }
        .product-info-list {
          line-height: 150%;
          list-style-type: disc;
          padding-left: 1.5em;
          margin-top: 20px;
          @media screen and (max-width: ($laptop-max-width)) {
            margin-top: return-desktop-size-by-vw(20);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            margin-top: return-tablet-size-by-vw(10);
          }
        }
      }
    }
  }

  .section-product-feature {
    .content-block {
      padding: 100px 120px 130px;
      @media screen and (max-width: ($laptop-max-width)) {
        padding: return-desktop-size-by-vw(100) return-desktop-size-by-vw(120) return-desktop-size-by-vw(130);
      }
      @media screen and (max-width: ($tablet-max-width)) {
        padding: return-tablet-size-by-vw(50) 0 return-tablet-size-by-vw(104);
        width: return-tablet-full-wide();
        margin: 0 auto;
      }
      .product-feature-title {
        text-align: center;
      }
      .card-list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
        @media screen and (max-width: ($laptop-max-width)) {
          margin-top: return-desktop-size-by-vw(70);
          gap: return-desktop-size-by-vw(45);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          margin-top: return-tablet-size-by-vw(30);
          grid-template-columns: repeat(1, 1fr);
          gap: return-tablet-size-by-vw(40);
        }
        .card-item {
          width: 370px;
          width: fit-content;
          @media screen and (max-width: ($laptop-max-width)) {
            width: return-desktop-size-by-vw(370);
            width: fit-content;
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: 100%;
          }
          .image-block {
            width: 100%;
            height: 220px;
            @media screen and (max-width: ($laptop-max-width)) {
              height: return-desktop-size-by-vw(220);
            }
            @media screen and (max-width: ($tablet-max-width)) {
              height: return-tablet-size-by-vw(220);
            }
          }
          .card-text {
            margin-top: 23px;
            @media screen and (max-width: ($laptop-max-width)) {
              margin-top: return-desktop-size-by-vw(23);
            }
            @media screen and (max-width: ($tablet-max-width)) {
              margin-top: return-tablet-size-by-vw(20);
            }
          }
        }
      }
      .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 110px;
        @media screen and (max-width: ($laptop-max-width)) {
          margin-top: return-desktop-size-by-vw(110);
        }
        @media screen and (max-width: ($tablet-max-width)) {
          margin-top: return-tablet-size-by-vw(90);
        }
        .image-block {
          border: 1px solid #ddd;
          width: 370px;
          height: 370px;
          @media screen and (max-width: ($laptop-max-width)) {
            width: return-desktop-size-by-vw(370);
            height: return-desktop-size-by-vw(370);
          }
          @media screen and (max-width: ($tablet-max-width)) {
            width: return-tablet-size-by-vw(335);
            height: return-tablet-size-by-vw(335);
          }
        }
        .wording-area {
          text-align: center;
          @media screen and (max-width: ($tablet-max-width)) {
            width: 100%;
          }
          .product-text {
            margin-top: 20px;
            @media screen and (max-width: ($laptop-max-width)) {
              margin-top: return-desktop-size-by-vw(20);
            }
            @media screen and (max-width: ($tablet-max-width)) {
              margin-top: return-tablet-size-by-vw(10);
            }
          }
          .btn-area {
            display: flex;
            justify-content: center;
            gap: 17px;
            @media screen and (max-width: ($laptop-max-width)) {
              gap: return-desktop-size-by-vw(17);
            }
            @media screen and (max-width: ($tablet-max-width)) {
              flex-direction: column;
              align-items: center;
              gap: return-tablet-size-by-vw(10);
            }
          }
        }
      }
    }
  }

  .section-modal-video {
    .modal-overlap-container {
      left: 0 #{'/* rtl: 0 */'};
      position: fixed;
      z-index: 999988;
      display: block;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      max-height: 0;
      transition: opacity .3s;
      opacity: 0;
      background-color: rgba(0, 0, 0, .7);

      &.show {
        top: 0;
        max-height: 100vh;
        opacity: 1;
      }

      > .container {
        height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        max-width: 90vw;

        .btn-close {
          position: absolute;
          z-index: 100;
          top: 3%;
          right: 2%;
          width: 4%;
          height: 4%;
          min-width: 40px;
          @media screen and (max-width: ($tablet-max-width)) {
            width: 7%;
            height: 5%;
            right: 20px;
          }

          &:hover {
            cursor: pointer;

            .close-x {
              transition: stroke .3s;
              stroke: $col-default-blue;
            }
          }

          .close-x {
            stroke: #ffffff;
            fill: transparent;
            stroke-linecap: round;
            stroke-width: 2;
          }
        }

        .align-center {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          margin-left: auto;
          margin-right: auto;

          @media screen and (max-height: 750px) and (min-aspect-ratio: 17/9) {
            width: 100%*.8;
            padding-bottom: 56.25%*.8;
          }

          #player {
            @media screen and (max-width: ($tablet-max-width)) {
              width: 100% !important;
              height: calc(52.625vw) !important;
              position: absolute !important;
            }
          }

          embed,
          iframe,
          object {
            left: 0 #{'/* rtl: 0 */'};
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

}

