<!DOCTYPE html>
<html lang="en-us" class="www" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Chrome testing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <% json=require(`./${htmlWebpackPlugin.options.json.trim()}.json`)%> 
    <!-- ========== PROJECT CONTENT @start ========== -->
    <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++) {%>
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.files.css[i] %>"
    />
    <% } %>
    <!-- ========== PROJECT CONTENT @end ========== -->
  </head>

  <body class="<%= htmlWebpackPlugin.options.bodyClass %>">
    <section class="section-kv">
      <div class="container">
        <div class="wording-area">
          <p><%= json.sectionKVText %></p>
          <h1 class="pt-s"><%= json.sectionKVTitle %></h1>
          <p class="pt-m"><%= json.sectionKVDescribe %></p>
          <div class="btn-area pt-m">
            <a href="#" class="btn-link btn--outline"><%= json.experience %></a>
            <a href="#" class="btn-link"><%= json.buyNow %></a>
          </div>
        </div>
        <div class="bg-block">
          <picture>
            <source srcset="/media/images/1440x700.jpg" media="(min-width: 992px)" />
            <source srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg" />
            <img alt="<%= json.sectionKVAlt %>" />
          </picture>
        </div>
      </div>
    </section>

    <section class="section-product-size-carousel">
      <div class="product-size-content">
        <div class="product-size-carousel owl-carousel">
          <% for(var i=0; i < json.sectionAccessoriesitems.length; i++) {%>
          <div class="product-size-item">
            <div class="image-block">
              <picture>
                <source srcset="/media/images/htc-vive-full-face-tracker-bottom-992.jpg" media="(min-width: 992px)" />
                <source srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg" />
                <img
                  srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg"
                  alt=""
                />
              </picture>
            </div>
          </div>
          <% } %>
        </div>
        <div class="product-size-info">
          <div>VIVE</div>
          <div>VIVE Full Face Tracker</div>
          <div>Bring both eye and facial tracking to the VIVE XR Elite experience in a single exceptionally engineered accessory.1</div>
          <div></div>
          <div>buy</div>
        </div>
      </div>
    </section>

  
    <section class="section-video-and-yt">
      <div class="image-block video-scroll-play">
        <video
            muted
            playsinline
            loop
            preload="none"
            title="<%= json.sectionTrackerProfileAlt %>"
            poster
            data-poster-path="/media/images/htc-vive-full-face-tracker-attached-to-vive-xr-elite-1920.jpg"
            data-t-poster-path="/media/images/htc-vive-full-face-tracker-attached-to-vive-xr-elite-360.jpg"
            data-video-path="/media/images/htc-vive-full-face-tracker-attached-to-vive-xr-elite-1920.mp4"
            data-t-video-path="/media/images/htc-vive-full-face-tracker-attached-to-vive-xr-elite-360.mp4"
            data-video-webm-path="/media/images/htc-vive-full-face-tracker-attached-to-vive-xr-elite-1920.webm"
            data-t-video-webm-path="/media/images/htc-vive-full-face-tracker-attached-to-vive-xr-elite-360.webm"
        >
            <source class="webm" type="video/webm" />
            <source class="mp4" type="video/mp4" />
        </video>
      </div>
    </section>

    <section class="section-spec">
      <div class="container">
        <div class="h1 spec-title"><%= json.sectionSpecListTitle %></div>
        <div class="spec-list">
          <% for(var i=0; i < json.sectionSpecList.length; i++) {%>
            <div class="spec-item">
              <div class="h2 spec-name"><%= json.sectionSpecList[i].sectionSpecTitle %></div>
              <p class=""><%= json.sectionSpecList[i].sectionSpecText %></p>
            </div>
          <% } %>
        </div>
      </div>
    </section>






    <section class="section-modal-video">
      <div class="modal-overlap-container">
        <div class="modal-overlap-bg"></div>
        <div class="container">
          <div class="btn-close show">
            <svg viewbox="0 0 40 40">
              <path
                class="close-x"
                d="M 10,10 L 30,30 M 30,10 L 10,30"
              ></path>
            </svg>
          </div>
          <div class="align-center">
            <!-- Required player-->
            <div id="player"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========== PROJECT CONTENT @start ========== -->

    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script type="text/javascript" defer src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
    <!-- ========== PROJECT CONTENT @end ========== -->
  </body>
</html>
