<!DOCTYPE html>
<html lang="en-us" class="www" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Chrome testing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <% json=require(`./${htmlWebpackPlugin.options.json.trim()}.json`)%> 
    <!-- ========== PROJECT CONTENT @start ========== -->
    <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++) {%>
    <link
      type="text/css"
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.files.css[i] %>"
    />
    <% } %>
    <!-- ========== PROJECT CONTENT @end ========== -->
  </head>

  <body class="<%= htmlWebpackPlugin.options.bodyClass %>">
    <section class="section-kv">
      <div class="container">
        <div class="content-block">
          <div class="wording-area">
            <p class="h3"><%= json.sectionKVText %></p>
            <h1 class="h1 mt-s"><%= json.sectionKVTitle %></h1>
            <!-- <p class="mt-l"><%= json.sectionKVDescribe %></p> -->
            <div class="btn-area mt-l">
              <a href="#" class="btn-link btn--outline light"><%= json.experience %></a>
              <a href="#" class="btn-link"><%= json.buyNow %></a>
            </div>
          </div>
          <div class="bg-block">
            <picture>
              <source srcset="/media/images/1440x700.jpg" media="(min-width: 992px)" />
              <source srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg" />
              <img alt="<%= json.sectionKVAlt %>" />
            </picture>
          </div>
        </div>
      </div>
    </section>

    <section class="section-product-size-carousel">
      <div class="product-size-content">
        <div class="product-size-carousel owl-carousel">
          <% for(var i=0; i < json.sectionAccessoriesitems.length; i++) {%>
          <div class="product-size-item">
            <div class="image-block">
              <picture>
                <source srcset="/media/images/htc-vive-full-face-tracker-bottom-992.jpg" media="(min-width: 992px)" />
                <source srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg" />
                <img
                  srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg"
                  alt="<%= json.sectionProductSizeAlt %>"
                />
              </picture>
            </div>
          </div>
          <% } %>
        </div>
        <div class="product-size-info">
          <h2 class="h2"><%= json.sectionProductSizeTitle %></h2>
          <div class="mt-l"><%= json.sectionProductSizeText %></div>
          <div class="mt-m product-color">
            <div class="color-item">aaaaaa</div>
            <div class="color-item">aaaaaa</div>
            <div class="color-item">aaaaaa</div>
          </div>
          <div class="btn-area">
            <a href="#" class="btn-link"><%= json.buyNow %></a>
          </div>
        </div>
      </div>
    </section>

    <div class="sub-header">
      <div class="container">
        <div class="content-block">
          <div class="sub-h-name h2"><%= json.sectionSubHeaderName %></div>
          <div class="sub-h-list">
            <% for(var i=0; i < json.sectionSubHeaderList.length; i++) {%>
              <a href="<%= json.sectionSubHeaderList[i].link %>" target="_blank" class="sub-h-item"><%= json.sectionSubHeaderList[i].text %></a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  
    <section class="section-video-and-yt">
      <div class="image-block video-scroll-play">
        <video
            muted
            playsinline
            loop
            preload="none"
            title="<%= json.sectionVideoAndYtTitle %>"
            poster
            data-poster-path="/media/images/<%= json.sectionVideoAndYtPoster %>-1920.jpg"
            data-t-poster-path="/media/images/<%= json.sectionVideoAndYtPoster %>-360.jpg"
            data-video-path="/media/images/<%= json.sectionVideoAndYtUrl %>-1920.mp4"
            data-t-video-path="/media/images/<%= json.sectionVideoAndYtUrl %>-360.mp4"
        >
            <source class="mp4" type="video/mp4" />
        </video>
      </div>
      <div class="box-video top-banner-modal-video-btn">
        <div class="wrap-txt-cent">
          <div class="wrap-cta">
            <div class="play-modal-video-btn" data-event-action="click-video"
                  data-event-category="pdp" data-event-label="video-vivepro2" data-gtm="event-tracking"
                  data-vid="AiUX8lQGh2w" data-vtype="youtube">
                  <%= json.playVideo %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-feature-list">
      
    </section>

    <section class="section-spec">
      <div class="container">
        <h2 class="h1 spec-title"><%= json.sectionSpecListTitle %></h2>
        <div class="spec-list">
          <% for(var i=0; i < json.sectionSpecList.length; i++) {%>
            <div class="spec-item">
              <div class="h3 spec-name"><%= json.sectionSpecList[i].sectionSpecTitle %></div>
              <p class=""><%= json.sectionSpecList[i].sectionSpecText %></p>
            </div>
          <% } %>
        </div>
      </div>
    </section>

    <section class="section-bottom-kv">
      <div class="container">
        <div class="content-block">
          <div class="image-block">
            <picture>
              <source data-srcset="/media/images/htc-vive-full-face-tracker-bottom-1920.jpg" media="(min-width: 992px)" />
              <source data-srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg" />
              <img class="lazy-img" alt="<%= json.sectionPurchasingAlt %>" />
            </picture>
          </div>
          <div class="wording-area">
            <h3 class="product-title h2"><%= json.sectionBottomKVTitle %></h3>
            <ul class="product-info-list">
              <% for(var i=0; i < json.sectionBottomKVList.length; i++) {%>
                <li class="product-info-item">
                  <%= json.sectionBottomKVList[i].name %>
                </li>
              <% } %>
              </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="section-product-feature">
      <div class="container">
        <div class="content-block">
          <h2 class="h1 product-feature-title"><%= json.sectionProductFeatureTitle %></h2>
          <div class="card-list">
            <% for(var i=0; i < json.sectionProductFeatureList.length; i++) {%>
              <div class="card-item">
                <div class="image-block">
                  <picture>
                    <source data-srcset="/media/images/<%= json.sectionProductFeatureList[i].url %>-1920.jpg" media="(min-width: 992px)" />
                    <source data-srcset="/media/images/<%= json.sectionProductFeatureList[i].url %>-360.jpg" />
                    <img class="lazy-img" alt="<%= json.sectionProductFeatureList[i].alt %>" />
                  </picture>
                </div>
                <div class="h3 card-text"><%= json.sectionProductFeatureList[i].title %></div>
                <p class="mt-s"><%= json.sectionProductFeatureList[i].text %></p>
              </div>
            <% } %>
          </div>
          <div class="product-card">
            <div class="wording-area">
              <h3 class="product-title h2"><%= json.sectionProductFeatureName %></h3>
              <p class="h3 mt-m"><%= json.sectionProductFeatureText %></p>
            </div>
            <div class="image-block mt-m">
              <picture>
                <source data-srcset="/media/images/htc-vive-full-face-tracker-bottom-1920.jpg" media="(min-width: 992px)" />
                <source data-srcset="/media/images/htc-vive-full-face-tracker-bottom-360.jpg" />
                <img class="lazy-img" alt="<%= json.sectionPurchasingAlt %>" />
              </picture>
            </div>
            <div class="wording-area mt-l">
              <div class="btn-area">
                <a href="#" class="btn-link btn--outline"><%= json.experience %></a>
                <a href="#" class="btn-link"><%= json.buyNow %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 






    <section class="section-modal-video">
      <div class="modal-overlap-container">
        <div class="modal-overlap-bg"></div>
        <div class="container">
          <div class="btn-close show">
            <svg viewbox="0 0 40 40">
              <path
                class="close-x"
                d="M 10,10 L 30,30 M 30,10 L 10,30"
              ></path>
            </svg>
          </div>
          <div class="align-center">
            <!-- Required player-->
            <div id="player"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========== PROJECT CONTENT @start ========== -->
    <script defer src="//www.youtube.com/player_api"></script>

    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script type="text/javascript" defer src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
    <!-- ========== PROJECT CONTENT @end ========== -->
  </body>
</html>
